.userConfigurationContainer {
    width:100%;
    height:100%;
    padding:61px 0 0;
}

.hr-adjust {
     margin-bottom:0;
}

.div-adjust {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.content-adjust {
    height:100%;
    overflow:auto;
}

.div-adjust > center {
    margin:-67px 0 0 !important;
}

.userConfigurationContainer>h1 {
    margin:-50px 0 0 !important;
}

.userConfigurationContainer>.container-fluid {
   height:100%;
   margin:11px 20px 0;
   overflow:auto;
}

.userConfigurationContainer > .container-fluid > .row {
    height:100%;
}

.user-table {
    height:100%;
    border:1px solid #C0C0C0;
    padding:67px 0 0;
}

.userConfigurationContainer ul {
    list-style:none;
    padding:0;
}

.userConfigurationContainer ul li {
    margin:10px 0;
    cursor:pointer;
    height:30px;
    line-height:30px;
}

.userConfigurationContainer ul li:not(.user-name-active):hover {
    background-color:#bcb4b0 !important;
}

.cus-col-right {
    height:100%;
}

#user-info {
    height:50%;
    padding-bottom:2px;
}

#user-info > .role-info {
    height:100%;
    overflow:auto;
    border:1px solid #C0C0C0;
    padding:67px 0 0;
}

#user-info > .user-detail {
    height:100%;
    border:1px solid #C0C0C0;
    border-left:0;
}

.user-detail .row {
    height:100%;
    overflow:auto;
}

.user-detail .col-md-8 dl {
    border-right:1px solid #C0C0C0;
}

.user-detail dl dt {
    float:left;
}

.user-detail dl dd {
    margin:15px 5px;
}

#function-area {
    height:50%;
    padding:25px 0 0 5px;
}

#function-area > button {
    margin-right:10px;
}





