.userConfigurationContainer {
    padding:61px 0 0;
}

.user-table {
    border: 1px solid #C0C0C0;
    padding: 67px 0 0;
}


.userConfigurationContainer>.container-fluid {
   margin:11px 20px 0;
   overflow:auto;
}

.userConfigurationContainer ul, #role-list-4add {
    list-style:none;
    padding:0;
}

.userConfigurationContainer ul li, #role-list-4add li {
    margin:10px 0;
    cursor:pointer;
    height:30px;
    line-height:30px;
}
 
.userConfigurationContainer ul li:not(.li-selected-active):hover,
#role-list-4add li:not(.li-selected-active):hover {
    background-color:#bcb4b0 !important;
}

.userConfigurationContainer ul .li-selected-active,
#role-list-4add .li-selected-active {
    background-color:#f35800;
}

.userConfigurationContainer ul .li-selected-active b,
#role-list-4add .li-selected-active b {
    color:#FFFFFF;
}

.userConfigurationContainer ul .li-selected-non-active,
#role-list-4add .li-selected-non-active {
    background-color:#FFFFFF;
}

.userConfigurationContainer ul .li-selected-non-active b,
#role-list-4add .li-selected-non-active b {
    color:#000000; 
}

#user-info {
    height:52%;
    padding-bottom:2px;
}

#user-info > .role-info {
    overflow:auto;
    border:1px solid #C0C0C0;
    padding:67px 0 0;
}

#user-info > .user-detail {
    border:1px solid #C0C0C0;
    border-left:0;
}

.user-detail .row {
    overflow:auto;
}

.user-detail .col-md-8 dl {
    border-right:1px solid #C0C0C0;
    padding-right:15px;
}

#viewport dl dt {
    float:left;
}

#viewport dl dd {
    margin:15px 5px;
    text-align:right;
}

#function-area {
    height:48%;
    padding:25px 0 0 5px;
}

#function-area > button {
    margin-right:10px;
}

.pwd-not-same {
    border:1px solid red;
}




