body {
    font: 400 14px Arial, Helvetica, sans-serif;
}

html,body {
    height:100%;
    width:100%;
    min-width:1200px;
    margin:0;
    overflow:hidden;
}

.navbar {
    margin-bottom:5px;
    border-radius:0;
}

footer {
    text-align:right;
    color:#ffffff;
    position:absolute;
    bottom:0;
    left:0;
    background-color:#000000;
    width:100%;
    padding:0 1em 0 0;
    overflow:hidden;
}

footer p {
    margin:15px 0;
}

#page-content {
    position:absolute;
    top:55px;
    bottom:44px;
    width:100%;
    margin:0;
    overflow:hidden;
}

#navigation {
    width:15%;
    height:100%;
    overflow:auto;
    border-right:1px solid #ebecee;
}

#nav-tree {
    padding:20px 40px 20px 20px;
    user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
    -webkit-user-select:none;
}

#content {
    width:84%;
    height:100%;
    overflow:hidden;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    padding:50px 0 0;
}

#content > .function-nav {
    height:50px;
    border-bottom:1px solid #ebecee;
    width:100%;
    padding-right:30px;
    margin:-50px 0 0;
}

.form-inline {
    height:100%;
    width:100%;
}

.form-group {
    height:30px;
    margin:10px 10px 10px 0;
}

.form-group label {
    margin:0 0 0 5px;
}

.form-group input {
    height:30px;
    margin-left:20px;
}

#equitId {
    height:30px;
}

#equip-viewport {
    width:100%;
    height:100%;
    padding-bottom:20px;
}

#equip-tree {
    height:100%;
    width:18%;
    border-right:1px solid #ebecee;
    padding:30px 0 0 20px;
}

#viewport {
    height:100%;
    width:80%;
}

.navbar-brand {
    padding:10px;
}
.navBtn {
    margin:10px;
}
.navBtn-sm {
    width:70px;
}

.login-form-item {
    padding:0 0 10px;
    height:50px;
}

.login-label {
    width:39px;
    height:38px;
    float:left;
    display:block;
}

.login-label .login-icon1 {
    height:38px;
    width:39px;
    display:block;
    background-color:#aaabab;
    background-image:url("../images/icons/20_20/server.png");
    background-repeat:no-repeat;
    background-position:10px 11px;
}

.login-input {
    vertical-align:middle;
    float:left;
    height:38px;
    line-height:38px;
    padding:9px;
    width:80%;
}

.login-label .login-icon {
    height:38px;
    width:39px;
    display:block;
    background-color:#aaabab;
    background-image:url("../images/icons/icons.png");
    background-repeat:no-repeat;
}

.login-icon-user {
    background-position:-2px 5px;
}

.login-icon-pwd {
    background-position:-42px 5px;
}

.modal-dialog {
    margin:100px auto;
}

#spanUserName {
    height: 28px;
    width: 60px;
    float:right;
    margin:13px 0 0 0;
    font-size:18px;
}

