body {
    font: 400 14px Arial, Helvetica, sans-serif;
    padding-top:55px; 
    padding-bottom:44px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

html,body {
    height:100%;
    width:100%;
    margin:0;
    overflow:hidden;
}

nav {
    height:55px;
    margin-top:-55px;
    margin-bottom:0;
    width:100%;
    border-bottom:1px solid #ebecee;
}

#spanUserName {
    height: 28px;
    width: 100px;
    margin:13px 0 0 0;
    font-size:18px;
    text-align:center;
}

.nav-btn {
    width:70px;
    margin:10px;
}

footer {
    text-align:right;
    color:#ffffff;
    position:absolute;
    bottom:0;
    left:0;
    background-color:#000000;
    padding:0 1em 0 0;
    overflow:hidden;
}

footer p {
    margin:15px 0;
}

#page-content {
    margin:0;
    overflow:auto;
}

#navigation {
    overflow:auto;
    border-right:1px solid #ebecee;
    padding:0;
}

#nav-tree>ul {
    margin:10px 0 0 20px;
}

#nav-tree {
    user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
    -webkit-user-select:none;
}

#content {
    overflow:auto;
    padding:50px 0 0;
    margin:0;
}

#content > .function-nav {
    height:50px;
    border-bottom:1px solid #ebecee;
    margin:-50px 0 0;
}

.form-group {
    height:30px;
    margin:10px 10px 10px 0;
    display:block;
}

.form-group label {
    margin:0 0 0 5px;
}

.form-group input {
    height:30px;
    margin-left:20px;
}

#equitId {
    height:30px;
}

#equip-container {
    border-right:1px solid #ebecee;
    padding:0;
}

#equip-tree>ul {
    margin:10px 0 0 20px;
}

.login-form-item {
    padding:0 0 10px;
    height:50px;
}

.login-label {
    width:39px;
    height:38px;
    float:left;
    display:block;
}

.login-label .login-icon1 {
    height:38px;
    width:39px;
    display:block;
    background-color:#aaabab;
    background-image:url("../images/icons/20_20/server.png");
    background-repeat:no-repeat;
    background-position:10px 11px;
}

.login-input {
    vertical-align:middle;
    float:left;
    height:38px;
    line-height:38px;
    padding:9px;
    width:80%;
}

.login-label .login-icon {
    height:38px;
    width:39px;
    display:block;
    background-color:#aaabab;
    background-image:url("../images/icons/icons.png");
    background-repeat:no-repeat;
}

.login-icon-user {
    background-position:-2px 5px;
}

.login-icon-pwd {
    background-position:-42px 5px;
}

.modal-dialog {
    margin:100px auto;
}

