.left {
    float:left;
}

.right {
    float:right;
}

.full-height {
    height:100%;
}

.full-width {
    width:100%;
}

.show {
    display:block;
}

.hide {
    display:none;
}

.div-border-box {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.div-border-box > center {
    margin:-67px 0 0;
}

.div-border-box>h1 {
    margin:-50px 0 0 !important;
}

.hr-adjust {
     margin-bottom:0;
}

.content-adjust {
    overflow:auto;
}
