.downtime-timeline-container {
     padding:61px 0 50px;
}
    .downtime-timeline-container hr {
        margin:0;
    }
#downtime-timeline-chart {
    width:95%;
    overflow:auto;
    margin:0 20px;
    border:1px solid #C0C0C0;
}

    #downtime-timeline-chart > .vis-timeline {
        border-width:0 0 1px;
    }

.downtime-timeline-container  ul {
    margin:-15px 20px 0;
    width:95%;
    overflow:hidden;
    list-style:none;
    padding:0;
    height:60px;
}

.downtime-timeline-container  ul  li {
       margin-top:10px;
       padding:5px;
       float:left;
}

.vis-item-cause1 {
    color:white;
    background-color:rgb(203,0,51);
    border-color:rgb(203,0,51);
}
.vis-item-cause2 {
    color:white;
    background-color:rgb(51,254,51);
    border-color:rgb(51,254,51);
}
.vis-item-cause3 {
    color:white;
    background-color:blue;
    border-color:blue;
}

.aic-vis-item {
    cursor:pointer;
}